<!-- Page Content -->
<div class="container">
  <div id="about-container" class="">
    <p>A community is only as resilient as the infrastructure it depends on.

    <br>
    <br>
    Infrastructured aggregates public infrastructural data to create a visual guide to the constructed systems our civilization depends on.

    <br>
    <br>
    Every community requires effective infrastructure to sustain it, but public awareness of these sites is what ensures they are well-maintained, locally accountable, and continually adapted to remain reliable and resilient. Climate change, terrorism, and the continued pressures of an urbanizing planet demand an increased public awareness of infrastructure to ensure communities are prepared and resilient.

    <br>
    <br>
    Beyond the risks of failure, some infrastructures come with a daily burden to the communities that host them, trading economic gains for undesirable externalities such as concentrated traffic, ecosystem destruction, or heightened exposure to chemicals and pollutants. Public awareness of these sites is the first step to ensuring their accountability.

    <br>
    <br>
    Often occupying massive sites, infrastructure has often been relegated to the periphery, just out of view. However sprawl and the need for new infrastructures in already developed areas means there is increasing pressure for public infrastructure to be more compact and multifunctional. When geographically located and seen from above, the scope and scale of our infrastructures becomes evident and available for public discourse and reimagination.

    <br>
    <br>
    Search by location or category to get to know your infrastructure.

    <br>
    <br>
    This website was made by Dennis Harvey and Nate Wooten. Questions or comments? Please contact us at Info@Infrastructered.com</p>

  </div>
</div>
<!-- /.container -->