<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark fixed-bottom" ng-controller="FooterCtrl">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsiveBottom" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-light">Table</span>
    </button>
    <div class="collapse navbar-collapse text-light w-100" id="navbarResponsiveBottom">
      <div id="datatable"></div>
    </div>
  </div>
</nav>